.bg-light-blue {
    background-color: #d2ffe3 !important;
}
#AceEditor {
    width: 100% !important;
}
.custom-heading {
    font-weight: bold;
    color: #398f51;
}

/* animation part */
.img-animate {
    -webkit-animation: mover 1.5s infinite alternate;
    animation: mover 1.5s infinite alternate;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20px);
    }
}
@keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20px);
    }
}

.parentContainer-form {
    padding-top: 6vh;
    padding-bottom: 6vh;
}

.outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    /*whatever width you want*/
}

.fade-enter {
    opacity: 0.01;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 200ms ease-in;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0.01;
    transition: opacity 200ms ease-out;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .img-animate {
        margin-top: 20vh;
        margin-bottom: 20vh;
    }
}
